@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #3c3b5a; */
  background-color: #32324c;
  font-family: "Playfair Display", serif;
}
.title {
  position: relative;
  color: rgb(211, 99, 58);
  padding-left: 50px;
}

.title::before {
  content: "";
  height: 1px;
  width: 38px;
  background-color: rgb(211, 99, 58);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
